{% if section.settings['show-announcement'] %}
  <section>hello</section>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Announcement",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ]
}
{% endschema %}
