<section>helo</section>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [],
  "presets": [
    {
      "name": "announcement-bar",
      "settings": [
        {
          "type": "checkbox",
          "id": "show-announcement",
          "label": "Show Announcement",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
