<section></section>

{% schema %}
{
  "name": "three-images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image",
      "info": "400 X 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image",
      "info": "400 X 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image",
      "info": "400 X 120px .png recommended"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "three-images"
    }
  ]
}
{% endschema %}
